<div class="page-content">
  <div class="p-md-5 p-s-0 p-x-0">
    <div style="line-height: 0">
      <h1>Organization Gig</h1>
      <p class="subfont">manage organization gig here</p>
    </div>

    <mat-card class="p-4 col-white">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-lg-6 col-md-6">
            <ul class="status">
              <li
                *ngFor="let item of statusData; let i = index"
                [class.active]="selectedIndex === i"
                (click)="FiletrByStatus(i)"
              >
                {{ item.status }}
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-2 col-md-2">
            <form action="post" [formGroup]="sortsForm">
              <div class="col-12 col-lg-12 col-md-12">
                <select class="form-control" formControlNam="sortcontrol"  (change)="sortData($event)">
                  <option value="asc">Ascending</option>
                  <option value="desc">Decending</option>
                </select>
              </div>
            </form>

          </div>
          <div class="col-12 col-lg-3 col-md-3">
            <form action="post" [formGroup]="searchForm" class="row">
              <div class="col-10 col-lg-11 col-md-11">
               <input type="text" class="form-control" (input)="searchDta()" placeholder="type here..." formControlName="searchInput">
              </div>
              <div class="col-1 col-lg-1 col-md-1 centers p-0">
                <img src="../../assets/img/grid.png"  width="28" alt="">
                </div>
            </form>
            </div>

        </div>
      </div>
    </mat-card>
    <mat-card class="mt-5 p-4 col-white">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-12 g-3" *ngFor="let item of items">
          <div class="card">
            <div class="row p-3">
              <div class="col-1 col-lg-2 col-md-2 p-0">
                <img src="../../assets/img/gigname.png" class="img-width" />
              </div>
              <div class="col-10 col-lg-10 col-md-10 line-hght">
                <p class="text-muted">Gig Name</p>
                <p>{{ item.GigName }}</p>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-1 col-lg-2 col-md-2 p-0">
                <img src="../../assets/img/gigCalender.png" class="img-width" />
              </div>
              <div class="col-10 col-lg-10 col-md-10 line-hght">
                <p class="text-muted">Required Date</p>
                <p>{{ item.RequiredDate }}</p>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-1 col-lg-2 col-md-2 p-0">
                <img src="../../assets/img/gigBudget.png" class="img-width" />
              </div>
              <div class="col-10 col-lg-10 col-md-10 line-hght">
                <p class="text-muted">Total Budget</p>
                <p>{{ item.TotalBudget }}</p>
              </div>
            </div>
            <div class="row p-3">
              <span class="text-center">{{ item.secure }}% secured</span>
              <mat-progress-bar
                mode="determinate"
                value="{{ item.secure }}"
              ></mat-progress-bar>
            </div>
            <div class="row">
              <span class="text-center pb-3"><b>Total Resources</b></span>
              <div class="col-md-4 col-4 col-4 text-center">
                <div>Required</div>
                <div>{{ item.TotalRespurces.required }}</div>
              </div>
              <div class="col-md-4 col-4 col-4 text-center">
                <div>Applicants</div>
                <div>{{ item.TotalRespurces.Applicants }}</div>
              </div>
              <div class="col-md-4 col-4 col-4 text-center">
                <div>Hired</div>
                <div>{{ item.TotalRespurces.Hired }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
